<div class="row">
<div class="col-md-2"></div>
<div class="card col-md-8 mt-lg-3 mb-lg-3 border-light-subtle" style="background-color: rgb(19,39,79); background-color: rgba(19, 39, 79, 0.541);">
    <div class="card-body text-center">
        <br />
        <h1 id="welcomeMessage">Bine ai venit!</h1>
        <br />
        <br />
        <h3 id="guidanceMessage">
          Selecteaza unul dintre birourile urmatoare<br />
          pentru a vizualiza persoanele asignate acestuia
        </h3>
        <br />
        <a routerLink="/allUsers" class="btn btn-dark m-2">Vezi toti utilizatorii</a>
        <a routerLink="/signup" class="btn btn-dark m-2">Logout</a>
    </div>
</div>
<div class="col-md-2"></div>
</div>

<div class="row"> 
<div class="col-md-1"></div>       
<div class="col-md-10 d-flex justify-content-center">
    <div class="row">
    <div class="col-md-4 p-2" *ngFor="let office of offices; index as i">
    <app-office [office]="office" [officeIndex]="i" [onClick]="onClick"></app-office>
    </div>
    </div>
    </div>
<div class="col-md-1"></div>       
</div>
