* {
    font-family: 'Caudex', serif;
    color: #13274F;
}

.btn-dark {
    color: aliceblue !important;
}

#welcomeMessage {
    text-align: center;
    font-family: 'Spectral SC', serif !important;
    color: aliceblue !important;
}

#guidanceMessage {
    text-align: center;
    color: aliceblue !important;
}

.custom-success {
    color: #87A96B;
}

.custom-danger {
    color: #E9967A;
}

.custom-special {
    font-style: italic;
}