* {
    font-family: 'Caudex', serif;
    color: #13274F;
}

.btn-dark {
    color: aliceblue !important;
}

body {
    background-size: cover !important;
}

#welcomeMessage {
    text-align: center;
    font-family: 'Spectral SC', serif !important;
    color: aliceblue !important;
}

#guidanceMessage {
    text-align: center;
    color: aliceblue !important;
}

#userProfileDetails {
    text-align: center;
}